extends layout

block content
  h1 User: #{user_detail.fullname}

  p #[strong First Name:] #{user_detail.first_name}
  p #[strong Last Name:] #{user_detail.last_name}
  p #[strong Email:] #{user_detail.email}
  p #[strong Password:]
  p #[strong Membership:] #{user_detail.membership}
  p #[strong Admin:] #{user_detail.isAdmin}

  div(style='margin-left:20px;margin-top:20px')
    h4 Posts

    each val in post
      p #[strong Topic] 
        a(href=val.url) #{val.title}

    else
      p There are no copies of this book in the library.

  hr
  p
      a(href=user_detail.url+'/delete') Delete User
  p
      a(href=user_detail.url+'/update') Update User